Machine Learning/Machine Learning Analysis/File Scraping/Full Jakarta/jakarta_combined.csv
Machine Learning/Machine Learning Analysis/File Scraping/Full Jakarta/Revisi 14/task_1266.csv
Machine Learning/Machine Learning Analysis/File Scraping/Full Jakarta/full_jakarta_reviews.csv 
Machine Learning/Machine Learning Analysis/File Scraping/Full Jakarta/full_jakarta_details.csv